[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
sqlalchemy = "*"
python-multipart = "*"
uvicorn = "*"
fastapi = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.10"
